@{
    ViewBag.Title = "Oleg Pozovnoy";
}
<h3>@ViewBag.Title</h3>
@*<h3>@ViewBag.Message</h3>*@

<img src="https://media.licdn.com/dms/image/C4E03AQH6UGxAYT151Q/profile-displayphoto-shrink_200_200/0?e=1539820800&v=beta&t=EPTFNK7Oo0Z8J0TxTSApY0LmbxDD5SX2nrcQ9K8D8RQ" alt="User profile"></br>


<address>
    <span class="glyphicon glyphicon-home"></span> Barrie </br>
    <span class="glyphicon glyphicon-earphone"></span>1-777-777-77-77 </br>
    <span class="glyphicon glyphicon-envelope"></span><a href="mailto:oleg.pozovnoy@mygeorgian.ca">oleg.pozovnoy@mygeorgian.ca</a>
</address>